<app-spheader></app-spheader>
<div class="app-body">
  <app-spsidebar></app-spsidebar>
  <toaster-container></toaster-container>

  <main class="main">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/admin-panel/list-orders/','approved']">Dashboard</a></li>
      <li class="breadcrumb-item active">List Apls</li>
    </ol>
    <div class="container-fluid">
      <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
          <div *ngIf="apdmLoading">
            <div class="loader">
              <div class="loader-inner ball-pulse">
                <div class="my-loader"></div>
                <div class="my-loader"></div>
                <div class="my-loader"></div>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="!apdmLoading">
            <div class="card-header">
              Apls
            </div>
            <div class="card-body">
              <div class="table-responsive" *ngIf="!apdmLoading && (apdmList | json ) != '[]'">
                <table class="table table-bordered">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let apdm of apdmList | paginate: { itemsPerPage: perpage, currentPage: page, totalItems: totalItem }">
                    <td>{{ apdm.apdmFirstName}} {{ apdm.apdmLastName}}</td>
                    <td>{{ apdm.apdmEmail}}</td>
                    <td>{{ apdm.apdmCity}}</td>
                    <td>
                      <a (click)="DeleteConfirm(apdm.apdmID)" class="fa fa-remove icon-btn"></a>
                      <a (click)="editProduct(apdm.apdmID)" class="fa fa-edit icon-btn"></a>
                      <a (click)="assignStore(apdm.apdmID)" class="fa fa-plus icon-btn"></a>
                    </td>
                  </tr>
                </table>
              </div>
                <div *ngIf="!apdmLoading && (apdmList | json ) == '[]'">
                  No Records
                </div>
              </div>
            </div>
          </div>
            <pagination-controls *ngIf="!apdmLoading" (pageChange)="page = getapdms($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
          </pagination-controls>

        </div>
      </div>
  </main>
</div>


<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2>Are you sure?</h2>
        <br><br>
        <button (click)="deleteApdm()" type="button" name="button" class="btn btn-primary">Yes</button>
        <button data-dismiss="modal" type="button" name="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        Update apl
      </div>
      <div class="modal-body">
        <app-apdm-edit (onSuccess)="handleApdmUpdate($event)" *ngIf="ApdmEdit" [ApdmToEdit]="ApdmToEdit"></app-apdm-edit>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="assignment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Assign Stores
      </div>
      <div class="modal-body">
        <app-asign-apdm (onSuccess)="handleApdmUpdate($event)" *ngIf="Assignment" [Apdm]="Apdm"></app-asign-apdm>
      </div>
    </div>
  </div>
</div>
