<app-spheader></app-spheader>
<div class="app-body">
  <toaster-container></toaster-container>
  <app-spsidebar></app-spsidebar>
  <main class="main">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Home</li>
      <li class="breadcrumb-item"><a href="#">Admin</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    <div class="container-fluid">
      <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
        <div class="row">

          <div class="col-lg-9">
            <!-- {{Orderdetails | json }} -->
            <h2>
              <i *ngIf="Orderdetails.orderStatus == 1" class="icon-check"></i>
              <i *ngIf="Orderdetails.orderStatus == 2" class="icon-ban"></i>
              <i *ngIf="Orderdetails.orderStatus == 0" class="icon-clock"></i>
              <span *ngIf="Orderdetails.orderStatus == 0 && (Orderdetails.orderTrackNumber == '' || Orderdetails.orderTrackNumber == null)">Pending</span>
              <span *ngIf="Orderdetails.orderStatus == 1 && (Orderdetails.orderTrackNumber == '' || Orderdetails.orderTrackNumber == null)">Accepted</span>
              <span *ngIf="Orderdetails.orderStatus == 2 && (Orderdetails.orderTrackNumber == '' || Orderdetails.orderTrackNumber == null)">Rejected</span>

              <span *ngIf="Orderdetails.orderStatus == 1 && Orderdetails.orderTrackNumber != '' &&  Orderdetails.Shipped == 1">Shipped</span>

            </h2>
            <p>Total Amount - ${{Orderdetails.orderTotal | number : '1.2-2' }}</p>
            <p style="margin-bottom: 4px;">Date Placed - {{Orderdetails.orderAddedOn | date : 'short' }}</p>
            <p style="margin-bottom: 4px;">Store id - {{Orderdetails.storeId}}</p>
            <p style="margin-bottom: 4px;">Store name - {{Orderdetails.storeName}}</p>
            <p>Store address - {{Orderdetails.storeAddress}}</p>
            <br>

            <!-- {{ Orderdetails.TrackDetails | json }} -->
            <div *ngIf="(Orderdetails | json) != '{}'">
              <div class="" *ngIf="Orderdetails.TrackDetails.error">
                {{ Orderdetails.TrackDetails.error }}
              </div>
              <div class="" *ngIf="Orderdetails.TrackDetails.success">
                <div class="row" *ngIf="Orderdetails.TrackDetails.data.event">
                  <div class="col-md-4 orderst" [class.active]="Orderdetails.TrackDetails.data.event.EventType == 'OC' || Orderdetails.TrackDetails.data.event.EventType == 'IP'  || Orderdetails.TrackDetails.data.event.EventType == 'PU' || Orderdetails.TrackDetails.data.event.EventType == 'MN' || Orderdetails.TrackDetails.data.event.EventType == 'FL' || Orderdetails.TrackDetails.data.event.EventType == 'DL' ">
                    <i class="fa fa-check-circle"></i>
                    <h3>Processed</h3>
                  </div>
                  <div class="col-md-4 orderst" [class.active]="Orderdetails.TrackDetails.data.event.EventType == 'DP'  || Orderdetails.TrackDetails.data.event.EventType == 'FL'  || Orderdetails.TrackDetails.data.event.EventType == 'DL' ">
                    <i class="fa fa-check-circle"></i>
                    <h3>Dispatched</h3>
                  </div>
                  <div class="col-md-4 orderst" [class.active]="Orderdetails.TrackDetails.data.event.EventType == 'DL'">
                    <i class="fa fa-check-circle"></i>
                    <h3>Delivered</h3>
                  </div>
                </div>
                <!-- {{ Orderdetails.TrackDetails.data.event | json }}               -->
              </div>

            </div>

            <br>

            <table class="table">
              <thead>
                <tr>
                  <th>Item name</th>
                  <th>Item Id</th>
                  <th>Item quantity</th>
                  <th>Item Price</th>
                  <th>Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Orderdetails.items">
                  <td>{{item.orderproductName}}</td>
                  <td>{{item?.productVarItemId}}</td>
                  <td>{{item.orderItemQty}}</td>
                  <td>${{ (item.orderItemPrice / item.orderItemQty) | number : '1.2-2'}}</td>
                  <td>${{item.orderItemPrice | number : '1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
          </div>



        </div>
      </div>
    </div>
    </div>


  </main>
</div>
