<app-spheader></app-spheader>
<div class="app-body">
  <app-spsidebar></app-spsidebar>
  <toaster-container></toaster-container>
  <main class="main">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/admin-panel/list-orders/','approved']">Dashboard</a></li>
      <li class="breadcrumb-item active">Add apls</li>
    </ol>

    <div class="container-fluid">
      <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn col-md-8">
          <form [formGroup]="apdmForm" (ngSubmit)="submitapdmForm(apdmForm.value)">
            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-error':!apdmForm.controls['apdmFirstName'].valid   && apdmSubmission}">
                <label for="company">apl First name</label>
                <input class="form-control" id="company" placeholder="Enter apl name" type="text" formControlName="apdmFirstName">
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-error':!apdmForm.controls['apdmLastName'].valid   && apdmSubmission}">
                <label for="company">apl Last name</label>
                <input class="form-control" id="company" placeholder="Enter apl name" type="text" formControlName="apdmLastName">
              </div>

            </div>

            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-error':!apdmForm.controls['apdmEmail'].valid   && apdmSubmission}">
                <label for="vat">apl email</label>
                <input class="form-control" id="vat" placeholder="Enter apl email" type="text" formControlName="apdmEmail">
                <span class="text-danger" *ngIf="apdmForm.controls['apdmEmail'].hasError('email') && apdmSubmission">Enter Valid Email</span>
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-error':!apdmForm.controls['apdmMobileNo'].valid   && apdmSubmission}">
                <label for="vat">apl Mobile</label>
                <input class="form-control" id="vat" placeholder="Enter apl Mobile" type="text" formControlName="apdmMobileNo">
                <span  class="text-danger" *ngIf="apdmForm.controls['userPassword'].hasError('pattern') && apdmSubmission">Enter Valid mobile number</span>
              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!apdmForm.controls['apdmAddress'].valid   && apdmSubmission}">
              <label for="street">apl address</label>
              <textarea class="form-control" placeholder="Enter apl address" formControlName="apdmAddress" rows="2" cols="80"></textarea>
            </div>

            <div class="row">

              <div class="form-group col-sm-12" [ngClass]="{'has-error':!apdmForm.controls['apdmCity'].valid   && apdmSubmission}">
                <label for="city">apl city</label>
                <input class="form-control" id="city" placeholder="Enter apl city" type="text" formControlName="apdmCity">
              </div>

            </div>
          <!--/.row-->

            <div class="row">
              <div class="form-group col-md-6" [ngClass]="{'has-error':!apdmForm.controls['userName'].valid   && apdmSubmission}">
                <label for="country">User name</label>
                <input class="form-control" id="country" placeholder="Enter Username" type="text" formControlName="userName">
              </div>
              <div class="form-group col-md-6" [ngClass]="{'has-error':!apdmForm.controls['userPassword'].valid   && apdmSubmission}">
                <label for="country">Password</label>
                <input class="form-control" id="country" placeholder="Enter Password" type="password" formControlName="userPassword">
                <span  class="text-danger" *ngIf="apdmForm.controls['userPassword'].hasError('min') && apdmSubmission">Password length must be 6</span>
              </div>
            </div>

            <div class="form-group">
              <input type="submit" value="Add apl" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>


  </main>
</div>
