<div class="sidebar" style="height:600px;">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin-panel/list-orders','approved']"><i class="icon-speedometer"></i> Dashboard</a>
      </li>

      <!-- <li class="nav-title">
        UI Elements
      </li> -->
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" data-play="dropdown"><i class="icon-puzzle"></i> Products</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/categories"><i class="icon-star"></i> Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/add-product"><i class="icon-star"></i> Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/list-products"><i class="icon-star"></i> List Products</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" data-play="dropdown"><i class="icon-star"></i> Stores</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/list-stores"><i class="icon-star"></i> List Stores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/add-store"><i class="icon-star"></i> Add a new store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/new-stores-access-requests"><i class="icon-star"></i> New store requests</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" data-play="dropdown"><i class="icon-star"></i> APLS</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/add-apls"><i class="icon-star"></i> Add APLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/list-apls"><i class="icon-star"></i> List APLS</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="icons-simple-line-icons.html"><i class="icon-star"></i> Simple Line Icons</a>
          </li> -->
        </ul>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link nav-dropdown-toggle" data-play="dropdown"><i class="icon-star"></i> Admin</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/add-admin"><i class="icon-star"></i> Add Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin-panel/list-admin"><i class="icon-star"></i> List Admins</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin-panel/list-orders/','approved']"><i class="icon-speedometer"></i> Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin-panel/settings"><i class="icon-speedometer"></i> Account settings</a>
      </li>


      <!-- <li class="nav-item">
        <a class="nav-link" href="widgets.html"><i class="icon-calculator"></i> Widgets <span class="badge badge-primary">NEW</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html"><i class="icon-pie-chart"></i> Charts</a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Extras
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="pages-login.html" target="_top"><i class="icon-star"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-register.html" target="_top"><i class="icon-star"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-404.html" target="_top"><i class="icon-star"></i> Error 404</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-500.html" target="_top"><i class="icon-star"></i> Error 500</a>
          </li>
        </ul>
      </li>
      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="http://coreui.io/" target="_top"><i class="icon-cloud-download"></i> Download CoreUI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-danger" href="http://coreui.io/pro/" target="_top"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
      </li> -->

    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
