<app-pheader></app-pheader>
<div class="app-body">
  <app-psidebar *ngIf="token" [token]="token"></app-psidebar>
  <main class="main">
    <ol class="breadcrumb">
      <li class="breadcrumb-item "><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active"><a>Orders</a></li>
    </ol>
    <div class="container-fluid">
      <div id="ui-view" style="opacity: 1;">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-11">

              <div class="row">
                <div class="col-md-5">
                  <label for="">Search</label>
                  <div class="input-group">
                    <!-- <input type="text"  #searchbox (keyup)="Search()"> -->
                    <input type="text" class="form-control" placeholder="Type keywords" [(ngModel)]="searchText" (keyup)="fetchOrders()">
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <label for="">Filter Orders</label>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Showing Approved
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Show Approved</a>
                      <a class="dropdown-item" href="#">Show Pending</a>
                    </div>
                  </div>
                </div> -->
                <div class="clearfix">
                </div>
              </div>
              <div class="clearfix">
                <br>
              </div>



                  <div class="loader" *ngIf="storeLoading">
                    <div class="loader-inner ball-pulse">
                      <div class="my-loader"></div>
                      <div class="my-loader"></div>
                      <div class="my-loader"></div>
                    </div>
                  </div>

                  <div class="card" *ngIf="!storeLoading">
                    <div class="card-header">
                      Orders
                      <!-- <div class="dropdow pull-right">
                        <button data-toggle='dropdown' type="button" name="button" class="btn btn-primary btn-sm">Per page</button>
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" (click)="updaetPerPage(10)">5</a></li>
                          <li><a class="dropdown-item" (click)="updaetPerPage(10)">10</a></li>
                          <li><a class="dropdown-item" (click)="updaetPerPage(20)">20</a></li>
                          <li><a class="dropdown-item" (click)="updaetPerPage(30)">30</a></li>
                        </ul>
                      </div> -->
                    </div>


                    <div class="card-body" >
                      <div *ngIf="Orders.length == 0">
                        No Orders found
                      </div>
                      <table class="table table-bordered" *ngIf="Orders.length != 0">
                        <thead>
                          <tr>
                            <th>Store Id</th>
                            <th>Store Name</th>
                            <th>Order Number</th>
                            <th>Order Date</th>
                            <th>Order Status</th>
                            <th>Total amount</th>
                            <th>
                              <span *ngIf="typee != 'apdm'">Placed by</span>
                              <span *ngIf="typee == 'apdm'">Placed by apdm</span>
                            </th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of Orders">
                            <td>{{order.storeId}}</td>
                            <td>{{order.storeName}}</td>
                            <td><a [routerLink]="['/dashboard/order-details',order.orderNumber]">{{order.orderNumber}}</a></td>
                            <td>{{order.orderAddedOn | date : 'short' }}</td>
                            <td>
                              <span *ngIf="order.orderStatus == 0 && (order.orderTrackNumber == '' || order.orderTrackNumber == null)">Pending</span>
                              <span *ngIf="order.orderStatus == 1 && (order.orderTrackNumber == '' || order.orderTrackNumber == null)">Accepted</span>
                              <span *ngIf="order.orderStatus == 2 && (order.orderTrackNumber == '' || order.orderTrackNumber == null)">Rejected</span>

                              <span *ngIf="order.orderStatus == 1 && order.orderTrackNumber != '' &&  order.Shipped == 1">Shipped</span>
                            </td>
                            <td>${{order.orderTotal | number : '1.2-2' }}</td>
                            <td>
                              <span *ngIf="order.orderLevel == 2 && typee != 'apdm'">Store</span>
                              <!-- <span *ngIf="order.orderLevel == 1 && typee != 'apdm'">Apdm</span> -->
                              <span *ngIf="order.orderLevel == 1">{{order.apdmFirstName}} {{order.apdmLastName}}</span>
                            </td>
                            <td>
                              <a *ngIf="order.orderLevel == 2 && order.orderStatus == 0 && token.userType == 3" (click)="UpdateOrderStatus(1,order.orderNumber)" class="btn btn-xs btn-primary"> Approve</a>
                              <a *ngIf="order.orderLevel == 2 && order.orderStatus == 0 && token.userType == 3" (click)="UpdateOrderStatus(2,order.orderNumber)" class="btn btn-xs btn-warning"> Deny</a>

                              <a *ngIf="order.orderLevel == 1 && order.orderStatus == 0 && token.userType == 4" (click)="UpdateOrderStatus(1,order.orderNumber)" class="btn btn-xs btn-primary"> Approve</a>
                              <a *ngIf="order.orderLevel == 1 && order.orderStatus == 0 && token.userType == 4" (click)="UpdateOrderStatus(2,order.orderNumber)" class="btn btn-xs btn-warning"> Deny</a>

                              <!-- <a (click)="deleteStoreConfirm(store.storeUserId)" class="fa fa-remove icon-btn"></a>
                              <a (click)="editStore(store.storeId)" class="fa fa-edit icon-btn"></a> -->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <pagination-controls (pageChange)="page = listStores($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                      </pagination-controls> -->
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
