<form [formGroup]="updateProduct" (ngSubmit)="submitProduct(updateProduct.value)">
  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header">
        Add Products
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!updateProduct.controls['productName'].valid   && productSubmission}">
                <label for="">Product name</label>
                <input type="text" class="form-control" placeholder="Product Name" formControlName="productName" [(ngModel)]="productDetails.productName">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!updateProduct.controls['productCode'].valid   && productSubmission}">
                <label for="">Product Code</label>
                <input type="text" class="form-control" placeholder="Product Name" formControlName="productCode" [(ngModel)]="productDetails.productCode">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12">
              <label for="company">Store class</label>
              <br>
              <!-- {{productClasses | json }} -->
              <label class="checkbox-inline">
                <input type="checkbox"   [value]="1" (change)="productClasses[$event.target.getAttribute('value')]=$event.target.checked" [attr.checked]="productClasses[1]"/>
                Class 1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox"   [value]="2" (change)="productClasses[$event.target.getAttribute('value')]=$event.target.checked" [attr.checked]="productClasses[2]"/>
                Class 2
              </label>
              <label class="checkbox-inline">
                <input type="checkbox"   [value]="3" (change)="productClasses[$event.target.getAttribute('value')]=$event.target.checked" [attr.checked]="productClasses[3]"/>
                Class 3
              </label>
              <label class="checkbox-inline">
                <input type="checkbox"   [value]="4" (change)="productClasses[$event.target.getAttribute('value')]=$event.target.checked" [attr.checked]="productClasses[4]"/>
                  Class 4
              </label>
              <label class="checkbox-inline">
                <input type="checkbox"   [value]="5" (change)="productClasses[$event.target.getAttribute('value')]=$event.target.checked" [attr.checked]="productClasses[5]"/>
                Class 5
              </label>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!updateProduct.controls['productCategory'].valid   && productSubmission}">
                <label for="">Product Category</label>
                <select class="form-control" formControlName="productCategory" [(ngModel)]="productDetails.productCategory">
                  <option [selected]="true" value="">Select Category</option>
                  <option [ngClass]="'lev'+cat.catLevel" *ngFor="let cat of CatList" [value]="cat.catId">
                    <span *ngIf="cat.catLevel == 1"> &nbsp;&nbsp; </span>
                    <span *ngIf="cat.catLevel == 2"> &nbsp;&nbsp;&nbsp; </span>
                    <span *ngIf="cat.catLevel == 3"> &nbsp;&nbsp;&nbsp;&nbsp; </span>
                    {{ cat.catName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!updateProduct.controls['productPrice'].valid   && productSubmission}">
                <label for="">Product Price</label>
                <input type="text" class="form-control" placeholder="Product Price" formControlName="productPrice"  [(ngModel)]="productDetails.productPrice">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Description</label>
                <ckeditor
                  [(ngModel)]="productDetails.productDescription"
                  debounce="500" [ngModelOptions]="{standalone: true}">
                </ckeditor>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Product Image</label>
                <div class="img_brow img-thumbnail" *ngIf="!showImageUploading">
                  <img [src]="productImage != '' ? 'https://productprotectionsolutions.com/order/api/assets/uploads/catPics/'+productImage : 'assets/img/demo.png'" alt="" class="img-thumbnail">
                  <div class="fafa_icon">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <input #fileInput type="file" (change)="uploadproductImage($event)" accept="image/*"  title=" "/>
                  </div>
                </div>
                <div class="img_brow img-thumbnail imageuploadingLoader" *ngIf="showImageUploading">
                  <img src="assets/img/loading.gif" alt="" class="img-thumbnail">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          Product Variations
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" formArrayName="productVariation">
              <tr>
                <th style="width: 60px">Item Id</th>
                <th>Item Description</th>
                <th style="width: 80px">Item Price</th>
                <th style="width: 20px"></th>
              </tr>
              <tbody *ngFor="let prod of updateProduct.controls.productVariation.controls; let i=index">
                <tr  [formGroupName]="i">
                  <td>
                    <input  type="text" formControlName="productVarItemId" [ngClass]="{'is-invalid':!updateProduct.controls.productVariation.controls[i].controls.productVarItemId.valid   && productSubmission}" style="width:60px" class="form-control">
                  </td>
                  <td>
                    <input type="text" formControlName="productVarDesc" [ngClass]="{'is-invalid':!updateProduct.controls.productVariation.controls[i].controls.productVarDesc.valid   && productSubmission}" class="form-control">
                  </td>
                  <td>
                    <input type="text" formControlName="productVarPrice" [ngClass]="{'is-invalid':!updateProduct.controls.productVariation.controls[i].controls.productVarPrice.valid   && productSubmission}" style="width:80px" class="form-control">
                  </td>
                  <td>
                    <a  (click)="removeVariation(i)" class="fa fa-trash"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button (click)="addVariation()" type="button" class="btn btn-primary add_field_button" style="margin-bottom:20px;">Add variation </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row pull-right">
    <div class="col-md-12">
      <input type="submit" value="Submit" class="btn btn-primary pull-right">
    </div>
  </div>
</form>
