<app-spheader></app-spheader>
<div class="app-body">
  <toaster-container></toaster-container>
  <app-spsidebar></app-spsidebar>
  <main class="main">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/admin-panel/list-orders/','approved']">Dashboard</a></li>
      <li class="breadcrumb-item active">List Orders</li>
      </ol>
    <div class="container-fluid">
      <div id="ui-view" style="opacity: 1;"><div class="animated fadeIn">
        <div class="row">

          <div class="col-lg-9">
            {{myGlobals}}
            <div class="loader" *ngIf="storeLoading">
              <div class="loader-inner ball-pulse">
                <div class="my-loader"></div>
                <div class="my-loader"></div>
                <div class="my-loader"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-11">
            <div class="row">
              <div class="col-md-5">
                <label for="">Search</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type keywords" [(ngModel)]="searchText" (keyup)="Search()">
                  <!-- <span class="input-group-btn">
                    <button type="button" name="button" class="btn btn-default">Search</button>
                  </span> -->
                </div>
              </div>
              <div class="col-md-3">
                <label for="">Filter Orders</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Showing {{orderFilter}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="filter('approved')">Show Approved</a>
                    <a class="dropdown-item" (click)="filter('pending')">Show Pending</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for=""> $250 Limit </label>
                <br>
                <div class="btn-group">
                  <button type="button" name="button" class="btn" [class.btn-primary]="limit250 == 1" (click)="updateLimitStatus(1)">On</button>
                  <button type="button" name="button" class="btn" [class.btn-primary]="limit250 == 0" (click)="updateLimitStatus(0)">Off</button>
                </div>
              </div>
              <div class="clearfix">
              </div>
            </div>
            <div class="clearfix">
              <br>
            </div>

            <!-- <div class="card">
              <div class="card-body">
              </div>
            </div> -->
            <div class="card" *ngIf="!storeLoading">
              <div class="card-header">
                Orders
                <!-- <div class="dropdow pull-right">
                  <button data-toggle='dropdown' type="button" name="button" class="btn btn-primary btn-sm">Per page</button>
                  <span class="caret"></span>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="updaetPerPage(10)">5</a></li>
                    <li><a class="dropdown-item" (click)="updaetPerPage(10)">10</a></li>
                    <li><a class="dropdown-item" (click)="updaetPerPage(20)">20</a></li>
                    <li><a class="dropdown-item" (click)="updaetPerPage(30)">30</a></li>
                  </ul>
                </div> -->
              </div>


              <div class="card-body" >
                <div *ngIf="Orders.length == 0">
                  No Orders found
                </div>
                <table class="table table-bordered" *ngIf="Orders.length != 0">
                  <thead>
                    <tr>
                      <th>Store Id</th>
                      <th>Store Name</th>
                      <th>Order Number</th>
                      <th>Order Date</th>
                      <th>Order Status</th>
                      <th>Total amount</th>
                      <th>Placed by</th>
                      <!-- <th>Apdm name</th> -->
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of Orders">
                      <td>{{order.storeId}}</td>
                      <td>{{order.storeName}}</td>
                      <td><a [routerLink]="['/admin-panel/order-details',order.orderNumber]">{{order.orderNumber}}</a></td>
                      <td>{{order.orderAddedOn | date : 'short' }}</td>
                      <td>
                        <span *ngIf="order.orderStatus == 0 && (order.orderTrackNumber == '' || order.orderTrackNumber == null)">Pending</span>
                        <span *ngIf="order.orderStatus == 1 && (order.orderTrackNumber == '' || order.orderTrackNumber == null)">Accepted</span>
                        <span *ngIf="order.orderStatus == 2 && (order.orderTrackNumber == '' || order.orderTrackNumber == null)">Rejected</span>

                        <span *ngIf="order.orderStatus == 1 && order.orderTrackNumber != '' &&  order.Shipped == 1">Shipped</span>
                      </td>
                      <td>${{order.orderTotal | number : '1.2-2' }}</td>
                      <td>
                        <span *ngIf="order.orderLevel == 2">Store</span>
                        <!-- <span *ngIf="order.orderLevel == 1 && typee != 'apdm'">Apdm</span> -->
                        <span *ngIf="order.orderLevel == 1">{{order.apdmFirstName}} {{order.apdmLastName}}</span>
                      </td>
                      <!-- <td>
                        <span *ngIf="order.orderLevel == 1">{{order.apdmFirstName}} {{order.apdmLastName}}</span>
                      </td> -->
                      <td class="text-center">
                        <!-- <a *ngIf="order.orderLevel == 2 && order.orderStatus == 0" (click)="UpdateOrderStatus(1,order.orderNumber)" class="btn btn-xs btn-primary"> Approve</a>
                        <a *ngIf="order.orderLevel == 2 && order.orderStatus == 0" (click)="UpdateOrderStatus(2,order.orderNumber)" class="btn btn-xs btn-warning"> Deny</a> -->
                        <a hand (click)="downloadPdf(order.orderNumber)" class="icon-btn" *ngIf="order.orderStatus == 1">
                          <i class="fa fa-print "></i>
                        </a>
                        <i class="fa fa-trash icon-btn" (click)="deleteConfirm(order.orderNumber)"  *ngIf="order.orderStatus == 1"></i>
                        <i class="fa fa-truck icon-btn" (click)="ship(order.orderNumber,order.orderTrackNumber)"  *ngIf="order.orderStatus == 1"></i>

                        <!-- <a (click)="deleteStoreConfirm(store.storeUserId)" class="fa fa-remove icon-btn"></a>
                        <a (click)="editStore(store.storeId)" class="fa fa-edit icon-btn"></a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- <pagination-controls (pageChange)="page = listStores($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                </pagination-controls> -->
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    </div>


  </main>
</div>


<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2>Are you sure?</h2>
        <br><br>
        <button (click)="deleteOrder()" type="button" name="button" class="btn btn-primary">Yes</button>
        <button data-dismiss="modal" type="button" name="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="shipModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <label for="" class="modal-title">Update Tracking number</label>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="TrackNumber">
        </div>
        <button (click)="updateTrackNumber()" type="button" name="button" class="btn btn-primary">Yes</button>
        <button data-dismiss="modal" type="button" name="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
</div>
